/*
	Evan Meier
	October 1st, 2024
	City Farmer Project
*/


#outerwrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
} 

.floatleft { 
	float: left;
	margin-right: 3%;
}

.floatright {
	float: right;
	margin-left: 3%;
}

main, footer { 
	clear: both;
}

body {
	background-color: #B8D1EB;
	color: #000000;
	font-family:'Times New Roman', Times, serif;
}

main {
	background-color: #C5A98B;
	padding: 10px;
}

nav ul {
	list-style-type: none;
}

main ul {
	list-style-image: url('images/tomato.png');
}

h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 2.25em;
}

h2 {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	font-style: italic;
}

footer {
	font-size: .75em;
	text-align: center;
	background-color: brown;
	padding: 10px;
}
